@using Crud.Api.Models
@model IEnumerable<Tarefas>

@{
    ViewData["Index"] = "Home Page";
}

<h2>Meu dia</h2>
<p>segunda-feira, 11 de abril</p>
<form method="post" asp-controller="Home" asp-action="CreateTask">
    <input asp-for="@(new Tarefas().Tarefa)" class="form-control" type="text">
</form> 


@if (Model != null && Model.Any())
{
    @foreach (var item in Model)
    {
        <table class="table">
        <thead>
        <tr>
        <th scope="col" class="table-dark">@item.Tarefa </th>
        <form method="post" asp-controller="home" > 
            <input type="submit" asp-action="delete" asp-route-id="@item.Id" value="remover" class="btn btn-danger">
            @Html.AntiForgeryToken()
        </form>
        </tr>
        </thead>
        </table>
    }
}
else
{
    <p class="table-red">Não há tarefas cadastradas</p>
    
    
}

<style>
    form{
        margin-bottom: 15px ;
    }
</style>